<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatrooms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>Chatrooms</h1>
    <div id="bar"></div>
    <br>
    <!-- <div id="categories">
        <button class="category">General</button>
        <button class="category">Music</button>
        <button class="category">TV</button>
        <button class="category">Games</button>
        <button class="category">Sports</button>
        <button class="category">Tech</button>
        <button class="category">News</button>
        <button class="category">Art</button>
    </div>
    <br> -->
    <div id="chatrooms">
        {% for chatroom in chatrooms %}
        <button class="chatroom" onclick="window.location.href='/chatroom/{{ chatroom }}'">
            {{ chatroom }}
        </button>

        {% endfor %}
    </div>

</body>

</html>